<main class="container center">
    <div class="page-area">


        <pb-article
        [title]="'Welcome to your personal budget!'"
        [content]="'This is a simple tool to help you manage your personal budget. Try it out!'">
        </pb-article>


        <pb-article
        [title]="'Why use it?'"
        [content]="'This app will help you manage your personal budget and will help you save money.'">           
        </pb-article>


        <pb-article
        [title]="'How to use it?'"
        [content]="'Add your budget and expenses to the app. The app will calculate the rest for you.'">   
        </pb-article>

        
        <pb-article
        [title]="'About us'"
        [content]="'We are a team of developers who created this app to help you manage your personal budget.'">
        </pb-article>
       

        <article>
            <h1> Chart</h1>
            <p>
                <canvas id="myChart" width="400" height="400"></canvas>
            </p>
        </article>
    </div>
</main>